@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.star{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.body {
    min-height: 5vh;
}

.navigation {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 100px;
    height: 60px;
    background: #fff;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    transition: height 0.5s, width 0.5s, color 0.25s;
    transition-delay: 0s, 0.25s, 0s;
    overflow: hidden;
}

.navigation.active {
    border: 1px solid black;
    width: 200px;
    height: 400px;
    transition: width 0.25s, height 0.25s;
    transition-delay: 0.25s, 0.5s;
    z-index: 9999
}

.userBx {
    position: relative;
    width: 60px;
    height: 60px;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.navigation.active .userBx {

    width: calc(100% - 60px);
    transition-delay: 0s;
}

.username {
    white-space: nowrap;
    margin-left: 0.5rem;
    color: #555;
    font-size: 1.1em;
}

.imgBx {
    position: relative;
    min-height: 60px;
    height: 60px;
    background: #000;
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;

}

.imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuToggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuToggle::before{
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(-10px);
    box-shadow: 0 10px #555;
    transition: 0.25s;
}

.menuToggle::after{
    content: '';
    position: absolute;
    width: 32px;
    height: 2px;
    background: #555;
    transform: translateY(10px);
    transition: 0.25s;
}

.navigation.active .menuToggle::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #555;
}
.navigation.active .menuToggle::after{
    transform: translateY(0px) rotate(-45deg);
}

.menu{
    border: 2px solid black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 140%;
    left: -34px;
    height: calc(100% - 60px);
    margin-top: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.menu li{
    position: relative;
    list-style: none;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
}
.menu li a{
    display: flex;
    cursor: pointer ;
    gap: 10px;
    font-size: 1.15em;
    text-decoration: none;
    color: #555;
    transition: 0.25s color ease;
}

.menu li a:hover{
    color: #4e65ff;
}